/* -------------------------------------------------------------------- */
/* --------------------------- clear style ---------------------------- */
/* -------------------------------------------------------------------- */
.av-catalog-section-list a,
.av-catalog-section-list a:visited,
.av-catalog-section-list a:hover,
.av-catalog-section-list a:active,
.av-catalog-section-list a:focus {color: inherit !important;text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------------- list ------------------------------- */
/* -------------------------------------------------------------------- */
.av-catalog-section-list
	{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	}
.av-catalog-section-list > .item
	{
	align-items: center;
	background: #FFF;
	border-right:  1px solid #ECEFF1;
	border-bottom: 1px solid #ECEFF1;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	width: calc(100% / 3);
	}
.av-catalog-section-list > .item.last
	{
	border-color: #FFF;
	}
.av-catalog-section-list > .item:hover
	{
	box-shadow: 0 4px 8px rgba(76,82,85,0.25);
	z-index: 10;
	}
.av-catalog-section-list > .item .image-link
	{
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	width: calc(100% - 100px);
	height: 100px;
	}
.av-catalog-section-list > .item .image-link img
	{
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	}
.av-catalog-section-list > .item .title
	{
	margin: 25px 0;
	}
.av-catalog-section-list > .border-hider-vertical,
.av-catalog-section-list > .border-hider-horizontal
	{
	background: #FFF;
	position: absolute;
	}
.av-catalog-section-list > .border-hider-vertical
	{
	width:  1px;
	height: 100%;
	top:    0;
	right:  0;
	}
.av-catalog-section-list > .border-hider-horizontal
	{
	width:  100%;
	height: 1px;
	bottom: 0;
	left:   0;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------- media ------------------------------ */
/* -------------------------------------------------------------------- */
@media(max-width: 1199px)
	{
	.av-catalog-section-list > .item {width: calc(100% / 2)}
	}
@media(max-width: 767px)
	{
	.av-catalog-section-list > .item
		{
		border-right: none;
		margin-left:  auto;
		margin-right: auto;
		width: 100%;
		max-width: 400px;
		}
	}