:root
	{
	--av-basket-line-image-width:  24px;
	--av-basket-line-counter-size: 18px;
	}

.av-basket-line     {align-items: center;display: flex;position: relative}
.av-basket-line img {margin-right: 5px;width: var(--av-basket-line-image-width)}

.av-basket-line .counter
	{
	align-items: center;
	background: #CC0000;
	border-radius: calc(var(--av-basket-line-counter-size) / 2);
	color: #FFF;
	display: flex;
	font-size: 85%;
	font-weight: bold;
	justify-content: center;
	position: absolute;
	width:  var(--av-basket-line-counter-size);
	height: var(--av-basket-line-counter-size);
	top:  calc(calc(var(--av-basket-line-counter-size) / 3 * -1));
	left: calc(var(--av-basket-line-image-width) - (var(--av-basket-line-counter-size) / 3 * 2));
	}
.av-basket-line .counter.empty {display: none}